<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix blue-sac">assignment</i>
            <input type="text" class="validate" formControlName="id_p" required>
            <label for="icon_prefix">documento</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" class="validate" formControlName="name_p" required>
            <label for="icon_prefix">Nombre</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input type="text" class="validate" formControlName="phone" required>
            <label for="icon_prefix">Telefono</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">vpn_key</i>
            <input matInput [type]="hide ? 'password' : 'text'" class="validate" formControlName="password" required>
            <label>Password</label>
            <button btn waves-effect (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix"></i>
            <input type="text" class="validate" formControlName="age" required>
            <label for="icon_prefix">edad</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input type="email" class="validate" formControlName="email_p" required>
            <label for="email">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Ingrese su email</span>
        </div>
    </div>
    <button class="btn waves-effect teal lighten-2" type="submit" name="action" [disabled]="form.invalid" (click)="register()">Registrar<i class="material-icons right">send</i></button>
</form>