<app-navbar></app-navbar>
<div class="container-fluid justify-content-center" style="margin-top: 10px;">
    <div class="  col-md-12 nav-link-wrap">
        <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Ordenes & Autorization</a>
            <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Appoitment</a>
            <a class="nav-link ftco-animate" id="v-pills-6-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-6" aria-selected="false">Result</a>
        </div>
        <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">
            <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-1.jpg);"></div>
                    </div>
                    <div class="col-lg-8">
                        <app-orders></app-orders>
                    </div>
                </div>
                <div class="row departments1">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-1.jpg);"></div>
                    </div>
                    <div class="col-lg-8">
                        <app-authorization></app-authorization>
                    </div>
                </div>
            </div>
            <!--component2-->
            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <app-family></app-family>
                    </div>
                </div>
            </div>
            <!---component3-->
            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <app-medical-r></app-medical-r>
                    </div>
                </div>
            </div>
            <!---component4-->
            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <app-doctors></app-doctors>
                    </div>
                </div>
            </div>
            <!---component5-->
            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <app-appointments></app-appointments>
                    </div>
                </div>
            </div>
            <!---component6-->
            <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch" style="background-image: url(images/dept-2.jpg);"></div>
                    </div>
                    <div class="col-md-8">
                        <div class=contenedor1>
                            <h2>Autorizaciones</h2>
                            <div class="contenedor11">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="id_p" type="text" class="validate" formControlName="id_p">
                                            <label for="id_p">Documento Del Paciente</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="file-field input-field col s12" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                                            <div class="btn">
                                                <span>File</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Generar autorizacion
                                    <i class="material-icons right ">send</i>
                                  </button>
                                    </div>
                                    <div class="upload-table ">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody class="upload-name-style ">
                                                <tr *ngFor="let item of files; let i=index ">
                                                    <td><strong>{{ item.relativePath }}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
